
@mixin container {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@mixin headline {
  font-size: 43px;
  text-align: center;
  padding: 40px 0 30px 0;
  letter-spacing: 1px;
}


@mixin media($breakpoint)
{
  @if map-has-key($breakpoints, $breakpoint)
  {
    @media (max-width: #{map-get($breakpoints, $breakpoint)})
    {
      @content;
    }
  } @else
  {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin media_min($breakpoint)
{
  @if map-has-key($breakpoints, $breakpoint)
  {
    @media (min-width: #{map-get($breakpoints, $breakpoint)})
    {
      @content;
    }
  } @else
  {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}


@mixin media_range($breakpoint, $breakpoint2)
{
  @if map-has-key($breakpoints, $breakpoint)
  {
    @media (max-width: #{map-get($breakpoints, $breakpoint2)}) and (min-width: #{map-get($breakpoints, $breakpoint)})
    {
      @content;
    }
  } @else
  {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}


@mixin clear
{
  &:after
  {
    content: '';
    clear: both;
    display: table;
  }
}

