@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: $main-font-color;
  @include media(xs){
    font-size: 14px;
  }
}


.header {
  min-height: 700px;
  width: 100%;
  background: url("../img/header/header-bg.png") no-repeat;
  background-size: cover;
  //mobile nav
  .mobile-nav{
    position: fixed;
    width: 100%;
    z-index: 900;
    display: none;
    top: 0;
    @include media(sm){
      display: block;
    }
    &__header{
      width: 100%;
      background: rgba(118, 105, 81, 0.76);
      padding: 10px 15px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: space-between;
    }
    &__logo{
      font-size: 21px;
      color: #F3F3F3;
      text-decoration: none;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    &__record{
      border: 2px solid #c39f76;
      color: #c39f76;
      text-decoration: none;
      padding: 11px 20px;
      font-weight: 500;
    }
    &__btn{
      cursor: pointer;
      z-index: 998;
      width: 40px;
      height: 38px;
      margin-left: 30px;
      display: block;

      span{
        width: 70%;
        height: 2px;
        background: #ffffff;
        display: block;
        margin: 8px 6px;
      }
    }

    .mobile-menu.active{
      display: block;
      transition: 2s;
      animation: view-menu .2s linear;
    }

    @keyframes view-menu {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;

      }
    }
    .mobile-menu{
      display: none;
      background: rgba(118, 105, 81, 0.93);
      padding-top: 25px;
      &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid #927556;
      }
      &__item{
        width: 100%;
      }
      &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        width: 100%;
        display: block;
        padding: 12px 0;
        text-align: center;
        font-weight: 300;
        outline: none;

      }
    }

    .mobile-contact{
      padding: 20px 30px;
      &__social{
        margin-left: 14px;
        img{
          width: 36px;
        }
      }
      &__item{
        margin: 15px 0;
        display: flex;
      }
      &__link{
        text-decoration: none;
        color: #ffffff;
        margin-left: 10px;
        outline: none;
      }
    }
  }
  &__inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 53px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    @include media(sm){
      display: none;
    }

  }

  &__logo {
    font-size: 52px;
    color: $white;
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    padding-right: 74px;
    letter-spacing: 2px;
    @include media(md){
      font-size: 38px;
    }
    @include media(sm){
      display: none;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;

    .menu {
      width: 95%;
      display: flex;
      justify-content: space-between;

      &__link {
        text-decoration: none;
        color: $white;
        font-size: 25px;
        font-weight: 200;
        padding-bottom: 11px;

        @include media(md){
          font-size: 18px;
        }

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}

.banner {
  @include media(sm){
    padding-top: 110px;
  }
  &__inner {
    @include container;
  }

  &__headline {
    text-align: end;
    text-transform: uppercase;
    color: $white;
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 11px;
    @include media(lg){
      text-align: center;
      font-size: 48px;
      margin-right: unset;
    }
    @include media(xs){
      font-size: 36px;
      line-height: 1.3;
    }

  }

  &__tagline {
    text-align: end;
    padding-right: 50px;
    padding-top: 70px;
    font-size: 36px;
    color: $white;
    text-transform: uppercase;
    @include media(lg){
      text-align: center;
      font-size: 28px;
      padding-right: unset;
      padding-top: 40px;
    }
    @include media(xs){
      font-size: 20px;
    }
  }

  &__form {
    max-width: 350px;
    width: 100%;
    padding-right: 94px;
    margin-left: auto;
    margin-top: 46px;
    @include media(lg){
      margin: 30px auto;
      padding: unset;
    }
  }

  &__input {
    margin-bottom: 39px;
    width: 100%;
    padding: 16px 20px;
    box-sizing: border-box;
    color: #999999;
    font-size: 22px;
    outline: none;
    @include media(lg){
      font-size: 18px;
      margin-bottom: 30px;
    }
    @include media(xs){
      font-size: 16px;
      margin-bottom: 20px;
    }


    &::placeholder {
      color: #999999;
      font-size: 22px;
      @include media(lg){
        font-size: 18px;
      }
      @include media(xs){
        font-size: 16px;
      }
    }
  }

  &__submit {
    width: 100%;
    font-size: 22px;
    color: $white;
    text-transform: uppercase;
    padding: 18px 0;
    background: $red;
    border: 1px solid white;
    @include media(lg){
      font-size: 18px;
    }
    @include media(xs){
      font-size: 16px;
      padding: 14px 0
    }
  }
}


.advantages {
  &__inner {
    @include container;
  }

  &__headline {
    @include headline;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @include media(xs){
      flex-direction: column;
      align-items: center;
    }
  }

  &__column {
    max-width: 346px;
    width: 100%;
  }
  &__column:nth-child(2) {
    @include media(xs){
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
    min-height: 213px;
    @include media(xs){
      min-height: unset;

    }
  }

  &__item--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -37px;
  }

  &__title {
    display: block;
    font-size: 30px;
    margin-top: 22px;
    text-align: center;
    @include media(xs){
      font-size: 20px;
    }
  }

  &__text {
    font-size: 15px;
    margin-top: 7px;
    line-height: 2;
    text-align: center;
  }


}

.courses {
  background: #F0F0F0;

  &__inner {
    @include container;
  }

  &__headline {
    @include headline;
    padding: 66px 0 22px 0;
  }

  &__tagline {
    font-size: 25px;
    text-align: center;
    @include media(xs){
      font-size: 16px;
    }
  }

  &__list {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media(xs){
      margin-top: 20px;
    }

  }

  &__item {
    max-width: 540px;
    width: 100%;
    background: #E8E8E8;
    margin-bottom: 18px;
    display: flex;
    @include media(lg){
      max-width: 80%;
      margin: 20px auto;
    }
    @include media(sm){
      flex-direction: column;
      align-items: center;
    }

    > div {
      padding: 0 22px;
      @include media(sm){
        order: 2;
      }
    }

    img {
      padding: 28px 28px 21px 0;
      box-sizing: border-box;
      @include media(sm){
        order: 1;
        padding: 15px;
        box-sizing: border-box;
        max-width: 100%;
      }
    }
  }

  &__name {
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    display: block;
    margin-top: 6px;
    @include media(xs){
      font-size: 18px;
    }
  }

  &__description {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-top: 3px;
    line-height: 1.7;
    word-spacing: -2px;
    @include media(xs){
      font-size: 16px;
    }

  }

  &__read-more {
    color: #ff3366;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    display: block;
    font-size: 18px;
    @include media(xs){
      font-size: 16px;
    }
    &:hover{
      color: $red;
    }
  }

  &__registration {
    background: $red;
    font-size: 10px;
    padding: 8px;
    margin-top: 32px;
    color: $white;
    width: fit-content;
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
    @include media(sm){
      margin: 20px auto;
    }
  }

}

.partners {

  &__headline {
    @include headline;
    padding: 66px 0 27px 0;

  }

  &__inner {
    @include container;
    max-width: 1306px;
    position: relative;

    @include media(lg){
      padding: 0 60px;
    }
    @include media(xs){
      padding: 0 15px;
    }

    .swiper-button-next {
      margin-top: 10px;
      @include media(lg){
        right: 20px;
      }
      &:after {
        content: '';
        position: absolute;
        background: url("../img/partners/arrow-right.png") no-repeat;
        width: 44px;
        height: 45px;
        background-size: contain;
        cursor: pointer;

      }
    }

    .swiper-button-prev {
      margin-top: 10px;
      @include media(lg){
        left: 20px;
      }
      &:after {
        content: '';
        position: absolute;
        background: url("../img/partners/arrow-left.png") no-repeat;
        width: 44px;
        height: 45px;
        background-size: contain;
        cursor: pointer;
      }
    }
  }

  .swiper-container {
    max-width: 1110px;
    width: 100%;

  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    width: 25%;
    @include media(xl){
      width: unset;
      align-items: center;
    }
  }

  &__image {
    max-width: 257px;
    width: 100%;
    @include media(xss){
      max-width: 60%;
    }
  }

  &__name {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding: 24px 0;
    color: $main-font-color;
    @include media(xs){
      font-size: 18px;
    }
    &:hover {
      color: #BA271F;
    }
  }

}

.certificate {
  display: flex;
  margin-top: 21px;
  @include media(md){
    flex-direction: column;
  }


  &__inner {
    max-width: 585px;
    width: 100%;
    padding: 0 30px 0 98px;
    box-sizing: border-box;
    @include media(lg){
      padding: 0 30px;
    }
    @include media(md){
      padding: 40px 30px;
      max-width: 100%;
    }
    @include media(xs){
      padding: 40px 15px;
    }
  }

  &__img {
    width: 50%;
    min-height: 403px;
    background: url("../img/certificate/education.png");
    background-size: cover;
    background-position-y: 62%;
    @include media(md){
      width: 100%;
      min-height: 250px;
    }
  }

  &__info {
    width: 50%;
    background: #A99473;
    @include media(md){
      width: 100%;
    }

  }

  &__headline {
    font-size: 35px;
    color: #F5F5F5;
    text-align: end;
    word-spacing: -5px;
    margin-top: 41px;
    @include media(lg){
      text-align: center;
    }
    @include media(md){
      margin-top: 0;
      font-size: 38px;
      letter-spacing: 1px;
      word-spacing: unset;
    }
    @include media(xs){
      font-size: 28px;
    }
  }

  &__text {
    color: #F1F1F2;
    margin-top: 25px;
    max-width: 350px;
    word-spacing: -1px;
    width: 100%;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
    @include media(lg){
      max-width: 100%;
    }

  }

  &__btn {
    font-size: 22px;
    color: $white;
    text-transform: uppercase;
    padding: 18px 66px;
    background: $red;
    border: 1px solid white;
    margin-top: 43px;
    width: fit-content;
    cursor: pointer;
    @include media(lg){
      margin: 43px auto 0 auto;
    }
    @include media(md){
      font-size: 18px;
      padding: 15px 40px;
    }
    @include media(xs){
      font-size: 16px;
      padding: 12px 40px;
    }
  }
}

.developers {
  padding-bottom: 53px;

  &__inner {
    @include container;
  }

  &__headline {
    @include headline;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 18px;

  }

  &__item {
    max-width: 23%;
    width: 100%;
    @include media(md){
      max-width: 46%;
      margin-bottom: 4%;
    }
    @include media(xs){
      max-width: 100%;
      margin-bottom: 40px;

    }

    img {
      width: 100%;
    }
  }

  &__bio {
    margin-top: 37px;
    display: block;
    text-align: center;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
  }

  &__descriptions {
    font-family: 'Lato', sans-serif;
    padding: 0 26px;
    margin-top: 12px;
    text-align: center;
    line-height: 1.5;

  }

  .social {
    display: flex;
    justify-content: center;
    margin-top: 19px;

    &__item {
      text-decoration: none;
      display: block;
      padding: 0 8px;
      transition: .3s;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

.registration {
  background: rgba(169, 148, 115, 0.87);
  padding-bottom: 58px;
  @include media(md){
    padding-bottom: 40px;

  }
  &__inner {
    @include container
  }

  &__headline {
    @include headline;
    padding: 47px 0 0 0;
    color: $white;
    font-size: 60px;
    margin-right: 67px;
    letter-spacing: -1px;
    word-spacing: 17px;
    @include media(md){
      margin-right: unset;
      letter-spacing: 1px;
      word-spacing: unset;
      padding: 40px 0 0 0;
    }
  }

  &__tagline {
    color: $white;
    font-size: 25px;
    text-align: center;
    margin-top: 13px;
    margin-right: 69px;
    @include media(md){
      margin-right: unset;
      font-size: 20px;
    }
    @include media(xs){
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__form {
    max-width: 541px;
    width: 100%;
    margin: 0 auto;
    padding-top: 26px;
    padding-right: 19px;
    @include media(md){
      padding-right: unset;

    }
  }

  &__input {
    width: 100%;
    padding: 17px 33px;
    box-sizing: border-box;
    margin-bottom: 31px;
    color: #ABABAB;
    font-size: 25px;
    border: none;
    @include media(md){
      padding: 15px 16px;
      font-size: 18px;
    }
    @include media(xs){
      padding: 15px 16px;
      margin-bottom: 16px;
      font-size: 16px;
    }
    &::placeholder {
      font-size: 25px;
      color: #ABABAB;
      font-family: 'Lato', sans-serif;
      @include media(md){
        font-size: 18px;
      }
      @include media(xs){
        font-size: 16px;
      }
    }
  }

  &__submit {
    display: block;
    background: $red;
    color: $white;
    font-size: 25px;
    border: none;
    margin: 0 auto;
    padding: 18px 41px;
    margin-left: 37%;
    @include media(md){
      margin-left: auto;
      font-size: 18px;
      padding: 15px 40px;
    }
    @include media(xs){
      font-size: 16px;
      padding: 12px 40px;
    }
  }

}

.footer {
  padding: 57px 30px;
  box-sizing: border-box;
  background: #A99473;
  @include media(xs){
    padding: 50px 15px
  }

  p {
    text-align: center;
    color: $white;
    font-size: 25px;
    margin-bottom: 18px;
    @include media(md){
      font-size: 18px;
    }
    @include media(xs){
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: $red;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    @include media(xs){
      margin-top: 25px;
    }

    &__link {
      margin: 0 24px;
      text-decoration: none;
      display: block;
      width: 48px;
      height: 48px;
      background-size: contain;
      transition: .3s;
      @include media(md){
        width: 32px;
        height: 32px;
        margin: 0 15px;
      }
    }

    &__link-twitter {
      background: url('../img/footer/social/twitter.png') no-repeat;
      background-size: contain;

      &:hover {
        background: url('../img/footer/social/twitter-red.png') no-repeat;
        transform: scale(0.9);
      }
    }

    &__link-facebook {
      background: url('../img/footer/social/facebook.png') no-repeat;
      background-size: contain;


      &:hover {
        background: url('../img/footer/social/facebook-red.png') no-repeat;
        transform: scale(0.9);
      }

    }

    &__link-gp {
      background: url('../img/footer/social/google-plus.png') no-repeat;
      background-size: contain;


      &:hover {
        background: url('../img/footer/social/google-plus-red.png') no-repeat;
        transform: scale(0.9);
      }
    }
  }
}
