@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

@mixin container{
  padding: 0 30px;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header{
  min-height: 700px;
  width: 100%;
  background: url("../img/header/header-bg.png") no-repeat;
  background-size: cover;

  &__inner{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 53px 30px;
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    font-size: 52px;
    color: white;
    text-decoration: none;
    font-weight: 200;
    text-transform: uppercase;
    padding-right: 74px;
    letter-spacing: 2px;
  }
  &__nav{
    width: 100%;
    display: flex;
    align-items: center;
    .menu{
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__item{

      }
      &__link{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-weight: 200;
        padding-bottom: 11px;
        &:hover{
          border-bottom: 1px solid white;
        }
      }
    }
  }
}

.banner{
  &__inner{
    @include container;
  }
  &__headline{
    text-align: end;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 600;

  }
  &__tagline{
    text-align: end;
    padding-right: 80px;
    padding-top: 70px;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
  }
  &__form{
    max-width: 350px;
    width: 100%;
    padding-right: 125px;
    margin-left: auto;
    margin-top: 46px;
  }
  &__input{
    margin-bottom: 31px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #999999;
    font-size: 22px;
    outline: none;
    &::placeholder{
      color: #999999;
      font-size: 22px;
    }
  }
  &__submit{
    width: 100%;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    padding: 18px 0;
    background: #cc3333;
    border: 1px solid white;
  }
}
